<div class="jumbotron my-1">
    <h1 class="display-4">{{ title }}</h1>
    <hr class="my-4">
    <p>Please input the formula's variables A, B and C.</p>
    <div class="form-group row ">
        <label for="param_a" class="col-form-label col-3">Variable A:</label>
        <div class="col-5">
          <input type="number" step="any" class="form-control " name="param_a" [(ngModel)]= "param_a"required>
        </div> 
    </div>
    <div class="form-group row">
        <label for="param_b" class="col-form-label col-3">Variable B:</label>
        <div class="col-5">
          <input type="number" step="any" class="form-control " name="param_b" [(ngModel)]= "param_b"required>
        </div>
    </div>
    <div class="form-group row">
        <label for="param_c" class="col-form-label col-3">Variable C:</label>
        <div class="col-5">
          <input type="number" step="any" class="form-control " name="param_c" [(ngModel)]= "param_c" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="first_root" class="col-form-label col-3">First Root :</label>
        <div class="col-5">
          <input type="text" step="any" class="form-control  bg-warning" name="first_root" [(ngModel)]= "first_root"readonly>
        </div>
    </div>
    <div class="form-group row">
        <label for="second_root" class="col-form-label col-3">Second Root :</label>
        <div class="col-5">
          <input type="text" step="any" class="form-control bg-warning" name="second_root" [(ngModel)]= "second_root"readonly>
        </div>
    </div>
    
    <div class="text-center mt-4">
        <button class="btn btn-primary btn-lg" href="#" role="button" [disabled]="!allowCalculation" (click)="onCalculate()">Calculate</button>
    </div>
</div>    
